.belegungsplan {
  font-size: 20px;
  font-weight: bolder;
}
.belegungsplan ul {
  font-size: 18px;
  font-weight: bold;
}
.belegungsplan ul ul {
  font-size: 16px;
  font-weight: normal;
}
.belegungsplan ul ul ul {
  font-size: 14px;
}
table.zim_daytable {
  border-style: solid;
  border-width: 6px;
  border-color: #999999;
}
table.zim_daytable th {
  background-color: #999999;
}
table.zim_daytable table {
  border-color: #7d92ce;
}
table.zim_daytable table th {
  background-color: #7d92ce;
  border-color: #7d92ce;
}
table.zim_daytable table table {
  border-color: #8fd08a;
}
table.zim_daytable table table th {
  background-color: #8fd08a;
  border-color: #8fd08a;
}
table.zim_daytable table table table {
  border-color: #d78888;
}
table.zim_daytable table table table th {
  background-color: #d78888;
  border-color: #d78888;
}
ul.resources li {
  border: #a5adb2 solid thin;
  background-color: #d4dbe5;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}
ul.resources ul {
  list-style-type: none;
  display: none;
}
ul.resources ul li {
  background-color: #ffffff;
}
ul.resources input[type=checkbox] {
  float: left;
}
ul.resources input[type=checkbox]:checked + ul {
  display: inherit;
}
.multilevel .building {
  font-size: 1.2em;
  font-weight: bold;
}
table.zim_roomtable {
  border: 1px solid #000;
  margin: 10px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 98%;
}
table.zim_roomtable thead tr td {
  padding: 10px;
}
table.zim_roomtable thead tr td span.headline {
  font-size: 20px;
  font-weight: bold;
}
table.zim_roomtable tbody tr {
  height: 26px;
}
table.zim_roomtable tbody tr td {
  border: 1px solid #000;
  vertical-align: top;
  padding-right: 3px;
}
table.zim_roomtable tbody tr td div.entry_wrapper {
  position: relative;
  width: 100%;
}
table.zim_roomtable tbody tr td div.entry_wrapper div.entry {
  background-color: #FFFFFF;
  border: 1px solid #777777 !important;
  border-radius: 5px;
  font-size: 8px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
table.zim_roomtable tbody tr td div.entry_wrapper div.entry p {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 10px;
}
table.zim_roomtable tbody tr td div.entry_wrapper div.entry:hover {
  min-height: 47px !important;
  z-index: 99;
}
table.zim_roomtable tbody tr td div.entry_wrapper div.cyclic {
  background-color: #eeeeee !important;
}
table.zim_roomtable tbody tr td div.entry_wrapper div.overfilled {
  background-image: url('exclaim-circle.png');
  background-repeat: no-repeat;
  background-position: right center;
}
table.zim_roomtable tbody tr td.weekend {
  background-color: #ffffff;
  background-image: url('logo.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  font-size: 10px;
  white-space: nowrap;
}
table.zim_roomtable tbody tr td.weekend p {
  font-size: 10px;
  margin: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
table.zim_roomtable tbody tr td.non-cyclic {
  font-size: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.zim_roomtable tbody tr td.non-cyclic p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
}
table.zim_roomtable tbody tr:nth-child(4n+4),
table.zim_roomtable tbody tr:nth-child(4n+5) {
  background-color: #dddddd !important;
}
table.zim_roomtable tbody tr th {
  border: 1px solid #000;
}
table.zim_roomtable tfoot {
  font-size: 12px;
}
table.zim_roomtable tfoot .headline {
  font-weight: bold;
}
@media print {
  #flex-header,
  #barBottomContainer,
  #layout_footer,
  #tabs,
  #tabs2,
  #dateform {
    display: none;
  }
  table.zim_roomtable {
    page-break-after: always;
    height: 100% !important;
  }
  table.zim_roomtable tbody tr td p {
    font-size: 8px;
  }
  table.zim_roomtable tfoot tr td {
    font-size: 12px;
  }
  @page :first :left :right :last {
    size: landscape;
    margin: 12mm 12mm 5mm 12mm;
  }
}
